
.diseases {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
  gap: 2rem 8rem;
}

.diseaseBox {
  text-align: center;
  background-color: pink;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  transition: all .4s;
}
.diseaseBox:hover {
  transform: translateY(-1rem) translateZ(0) !important;
  box-shadow: 0 2rem 3rem black;
}

.diseaseBox img {
  width: 100%;
}

.diseaseBox p {
  font-size: 2rem;
  font-weight: 100;
  padding: 1rem 0
}
